<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mi.module.blog.mapper.ArticleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.mi.module.blog.entity.Article">
		<id column="article_id" property="articleId" />
		<result column="title" property="title" />
		<result column="content" property="content" />
		<result column="description" property="description" />
		<result column="status" property="status" />
		<result column="author" property="author" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="look_count" property="lookCount" />
	</resultMap>

	<!--获取文章的时间归档列表 -->
	<select id="selectArticleArchiveList" resultType="java.util.Map">
		select DATE_FORMAT(create_time,'%Y年%m月') create_time,count(article_id) count
		from blog_article
		group by DATE_FORMAT(create_time,'%Y年%m月') ORDER BY create_time desc
	</select>

	<select id="selectArticleListByKeywords"  resultMap="BaseResultMap" parameterType="Map">
		<if test="keyword != null and keyword != ''">
			select article_id,title,description
			from blog_article
			where title like concat('%',#{keyword},'%') or description like concat('%',#{keyword},'%') or content like concat('%',#{keyword},'%') limit 0,10
		</if>
		<if test="keyword == null or keyword == ''">
			select article_id,title,description
			from blog_article limit 0,10
		</if>
	</select>
</mapper>
